In [2]:
# Create a list

L = ["Michael Jackson", 10.1, 1982]

In [8]:
L[0]

'Michael Jackson'

In [31]:
# Print the elements on each index

print ('The same element using positive and negative indexing :\n Positive:' ,L[0],
       '\n Negative:',L[-1] )

The same element using positive and negative indexing :
 Positive: Michael Jackson
 Negative: 1982

In [9]:
L[-3]

'Michael Jackson'

In [13]:
L[-1]

1982

In [ ]:
# LIST CONTENT

Lists can contain strings, floats, and integers. We can nest other lists, and we can also nest tuples and 
other data structures. The same indexing conventions apply for nesting

In [32]:
['Michael Jackson', 10.1, 1982, [1,2], ('A',1)]

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

In [ ]:
# List Operations

We can also perform slicing in lists. For example, if we want the last two elements, we use the following command:

In [35]:
# Sample List


L = ['Michael Jackson', 10.1, 1982, 'MJ',1]
          0               1     2    3   4
# If we want to get MJ & 1 we will write 3:5 (not 3:4 we will type 1 extra no. to the end digit)

In [40]:
# List slicing

L [3:5]

['MJ', 1]

In [ ]:
# We can use the method extend to add new elements to the list:

In [42]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend (['pop', 'Usman'])
L

['Michael Jackson', 10.2, 'pop', 'Usman']

In [ ]:
# Another similar method is append. If we apply append instead of extend,
# It adds only one element to the list: even if we order it to append multiple elements

In [51]:
# Use append to add elements to list

L = [ "Michael Jackson", 10.2]
L.append (['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [ ]:
# Each time we apply a method, the list changes. If we apply extend we add two new elements to the list. 
# The list L is then modified by adding two new elements:

In [7]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend (['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [ ]:
# If we append the list ['a','b'] we have one new element consisting of a nested list:

In [8]:
# Use append to add elements to list

L.append(['a','b'])
L

['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]

In [ ]:
# As lists are MUTABLE, we can change them. For example, we can change the first element as follows:

In [11]:
# Changing element based on the index       #index starts from 0, 1, 2 ,3

A = ['Disco', 10, 1.2]
A
# Now Changing Disco with Dance
A[0] = 'Dance'
A

['Dance', 10, 1.2]

In [ ]:
# Deleting element using del command

In [12]:
# Deleting 10 from A

del(A[1])
A

['Dance', 1.2]

In [ ]:
# We can convert a string to a list using split

In [13]:
'hard rock'.split()

['hard', 'rock']

In [ ]:
# We can use the split function to separate strings on a specific character which we call a delimiter. 
# We pass the character we would like to split on into the argument, which in this case is a comma. 
# The result is a list, and each element corresponds to a set of characters that have been separated by a comma:

In [17]:
# Split the string by comma

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

In [ ]:
# Copy and Clone List

In [ ]:
When we set one variable B equal to A, both A and B are referencing the same list in memory:

In [31]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print ('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [32]:
# or You can also print
print (A)
print (B)

['hard rock', 10, 1.2]
['hard rock', 10, 1.2]

In [35]:
# Now if we change value of A then B will also change and viceversa

A[0] = 'singer'
print ('A:', A)
print ('B:', B)

A: ['singer', 10, 1.2]
B: ['singer', 10, 1.2]

In [ ]:
# To avoid this
# You can clone list A by using the following syntax:

In [37]:
A = B[:]
# Or
B = A[:]

In [41]:
# Now if we make a change in A then B willnot change

A[0] = 'KIBOR'
print ('A:', A)
print ('B:', B)

A: ['KIBOR', 10, 1.2]
B: ['singer', 10, 1.2]

In [ ]:
# Quiz on List

In [47]:
# Create a list a_list, with the following elements 1, hello, [1,2,3] and True.

a_list = [1, 'hello', [1,2,3], 'True']
print ('a_list:', a_list)

a_list: [1, 'hello', [1, 2, 3], 'True']

In [48]:
# Find the value stored at index 1 of a_list.

a_list[1]

'hello'

In [51]:
# Retrieve the elements stored at index 1, 2 and 3 of a_list

a_list[1:4]

['hello', [1, 2, 3], 'True']

In [54]:
# Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']:

A = [1, 'a'] 
B = [2, 1, 'd']
Concatenate = A + B
Concatenate

[1, 'a', 2, 1, 'd']

In [ ]:
# Scenario : Shopping list

In [58]:
# Task-1 Create an empty list

Shopping_list = []
Shopping_list

[]

In [63]:
# Task-2 Now store the number of items to the shopping_list

Shopping_list = ['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes']
Shopping_list

['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes']

In [64]:
# Task-3 Add a new item to the shopping_list
# Seems like I missed one item "Football" to add in the shopping list.

Shopping_list.append ('Football')
Shopping_list

['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes', 'Football']

In [66]:
# Task-4 Print First item from the shopping_list
# Let's check the first item that we need to buy.

print (Shopping_list[0])

Watch

In [68]:
# Task-5 Print Last item from the shopping_list
# Let's check the last time that we need to buy.

print (Shopping_list[-1])

Football

In [72]:
# Task-6 Print the entire Shopping ListÂ¶

print (Shopping_list)
# Or you can also do
print ('Shopping list:', Shopping_list)

['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes', 'Football']
Shopping list: ['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes', 'Football']

In [74]:
# Task-7 Print the item that are important to buy from the Shopping List
# Print "Laptop" and "shoes"

print (Shopping_list[1:3])

['Laptop', 'Shoes']

In [76]:
# Task-8 Change the item from the shopping_list
# Instead of "Pen" I want to buy "Notebook" let's change the item stored in the list.

Shopping_list [-3] = 'Notebook'
Shopping_list

['Watch', 'Laptop', 'Shoes', 'Notebook', 'Clothes', 'Football']

In [81]:
# Task-9 Delete the item from the shopping_list that is not required
# Let's delete items that are unimportant, such as; I don't want to buy Clothes, let's delete it.

del(Shopping_list[-2])
Shopping_list

['Watch', 'Laptop', 'Shoes', 'Football']

In [82]:
# Task-10 Print the shopping list
# We are ready with our shopping list.

print ('Shopping list:', Shopping_list)

Shopping list: ['Watch', 'Laptop', 'Shoes', 'Football']