In [ ]:
What are Strings?

In [1]:
# Use quotation marks for defining string

print ('Michael Jackson')

Michael Jackson

In [ ]:
# A string can be a combination of spaces and digits:

1 2 3 4 5 6 7 8 9

In [ ]:
# A string can also be a combination of special characters :

_@#!%^&]

In [ ]:
# INDEXING

In [ ]:
M I C H A E L   J A C  K  S  O  N
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14

Negative Indexing
M    I   C   H   A   E   L     J  A  C  K  S  O  N
-15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1

In [ ]:
# SLICING

In [3]:
Name = 'Michael Jackson'

In [4]:
Name [0:4]

'Mich'

In [5]:
Name [8:12]

'Jack'

In [ ]:
# STRIDE

In [6]:
Name [::2]       #2 denotes that we are selecting every 2nd value from word Michael jackson and counting starts from 0

'McalJcsn'

In [ ]:
# Concatenate Strings

In [7]:
Name = 'Michael Jackson'
Statement = Name + ' was the best dancer'
Statement

'Michael Jackson was the best dancer'

In [ ]:
# ESCAPE SEQUENCES

In [8]:
print ('Hi,\n my name is Muhammad Usman')         #\n represents new line

Hi,
 my name is Muhammad Usman

In [9]:
print ('Hello there! \t how are you')             #\t represents tabs

Hello there! 	 how are you

In [10]:
print ('Hello there! \\ how are you')

Hello there! \ how are you

In [11]:
print (r'Hello there! \ how are you')             #r will tell python that string will be displayed as raw string

Hello there! \ how are you

In [ ]:
# String Manipulation Operations

In [12]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [13]:
a = "Thriller is the sixth studio album"
a.upper()

'THRILLER IS THE SIXTH STUDIO ALBUM'

In [14]:
print (a.upper())

THRILLER IS THE SIXTH STUDIO ALBUM

In [15]:
# Replace the old substring with the new target substring is the segment has been found in the string

a = "Michael Jackson is the best"
a.replace('Michael','Mike')

'Mike Jackson is the best'

In [16]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = 'Michael Jackson'
name.find ('el')

5

In [17]:
name.find ('Jackson')

8

In [18]:
# If cannot find the substring in the string or If the sub-string is not in the string then the output is a negative one. 

name.find('Jasdfasdasdf')

-1

In [19]:
#Split the substring into list
name = "Michael Jackson"
split_string = (name.split())
split_string

['Michael', 'Jackson']

In [20]:
# Or you can also do this
name = 'Michael Jackson'
(name.split())

['Michael', 'Jackson']

In [ ]:
# RegEX

In [21]:
import re

In [22]:
s1 = 'Michael Jackson is the best'

In [23]:
result = re.search('Jackson', s1)
if result:
    print('Match found')
else:
    print('Match not found')

Match found

In [24]:
import re

In [25]:
quote = 'life is short but life is difficult too.'

In [26]:
re.search('life',quote).group()

'life'

In [ ]:
# findall
import re

In [27]:
quote = 'life is short but life is difficult too.'

In [28]:
re.findall('life', quote)

['life', 'life']

In [29]:
len(re.findall('life',quote))       #len stands for length

2

In [30]:
# split
re.split('/.',quote)

['life is short but life is difficult too.']

In [33]:
# sub
re.sub('but','which means that', quote)

'life is short which means that life is difficult too.'

In [34]:
re.sub('life', 'it', quote, count=2)

'it is short but it is difficult too.'

In [35]:
# Quiz on Strings

In [36]:
a = "1"
a

'1'

In [37]:
b = "2"
b

'2'

In [38]:
c = a + b
c

'12'

In [39]:
# Consider the variable d use slicing to print out the first three elements:
# Write your code below and press Shift+Enter to execute

d = "ABCDEFG"
d[0:3]

'ABC'

In [40]:
# Use a stride value of 2 to print out every second character of the string <code>e</code>:
# Write your code below and press Shift+Enter to execute

e = 'clocrkr1e1c1t'
e[::2]

'correct'

In [41]:
# Print out a backslash:
# Write your code below and press Shift+Enter to execute

print ('\\')

\

In [42]:
# Convert the variable f to uppercase: 
# Write your code below and press Shift+Enter to execute

f = "You are wrong"
f.upper()

'YOU ARE WRONG'

In [43]:
# Convert the variable f2 to lowercase:
# Write your code below and press Shift+Enter to execute

f2="YOU ARE RIGHT"
f2.lower()

'you are right'

In [44]:
# Consider the variable g, and find the first index of the sub-string snow:
# Write your code below and press Shift+Enter to execute

g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

g.find('snow')

95

In [45]:
# In the variable g, replace the sub-string Mary with Bob:
# Write your code below and press Shift+Enter to execute

g.replace('Mary', 'Bob')

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

In [46]:
# In the variable g, replace the sub-string , with .:
# Write your code below and press Shift+Enter to execute

g.replace(',','.')

'Mary had a little lamb Little lamb. little lamb Mary had a little lamb Its fleece was white as snow And everywhere that Mary went Mary went. Mary went Everywhere that Mary went The lamb was sure to go'

In [47]:
# In the variable g, split the substring to list:
# Write your code below and press Shift+Enter to execute

g.split()

['Mary',
 'had',
 'a',
 'little',
 'lamb',
 'Little',
 'lamb,',
 'little',
 'lamb',
 'Mary',
 'had',
 'a',
 'little',
 'lamb',
 'Its',
 'fleece',
 'was',
 'white',
 'as',
 'snow',
 'And',
 'everywhere',
 'that',
 'Mary',
 'went',
 'Mary',
 'went,',
 'Mary',
 'went',
 'Everywhere',
 'that',
 'Mary',
 'went',
 'The',
 'lamb',
 'was',
 'sure',
 'to',
 'go']

In [48]:
# In the string s3, find whether the digit is present or not using the \d and search() function:
s3 = "House number- 1105"
# Write your code below and press Shift+Enter to execute

result = re.search('\d', s3)
if result:
    print('Digit found')
else:
    print ('Digit not found')

Digit found

In [49]:
# In the string str1, replace the sub-string fox with bear using sub() function:
str1= "The quick brown fox jumps over the lazy dog."

# Write your code below and press Shift+Enter to execute

re.sub ('fox', 'bear', str1)

'The quick brown bear jumps over the lazy dog.'

In [50]:
# In the string str2 find all the occurrences of woo using findall() function:
str2= "How much wood would a woodchuck chuck, if a woodchuck could chuck wood?"

# Write your code below and press Shift+Enter to execute

re.findall('woo', str2)

['woo', 'woo', 'woo', 'woo']

In [51]:
"hello Mike".find("Mike")

6

In [52]:
x=1
x=x+1
x

2

In [53]:
1+3*2

7

In [54]:
type(int(12.3))

int

In [55]:
int(True)

1

In [56]:
'1'+'2'

'12'

In [57]:
'hello'.upper()

'HELLO'

In [58]:
str(1+1)

'2'

In [59]:
x = 2/2
x

1.0

In [60]:
type(x)

float