In [ ]:
# First Python Output

In [ ]:
print ('Hello, World')

In [ ]:
Hello, World

In [ ]:
# Errors

In [1]:
frint ('Hi')

NameError: name 'frint' is not defined

In [2]:
print ('Hi

SyntaxError: unterminated string literal (detected at line 1) (2653864746.py, line 1)

In [ ]:
# Types of Objects in Python

In [ ]:
Strings = str = Words/texts like 'My name is Muhammad Usman'

In [ ]:
Integers = int = Numbers like 1,2,3,4,-1,-2,-3,-4,100,-100 etc

In [ ]:
Float = float = Real Numbers such as 3.14, 4.96 etc

In [3]:
type (12)

int

In [4]:
type (3.46)

float

In [5]:
type ('Hello, Python 101!')

str

In [6]:
type (12.0)

float

In [7]:
type (-78)

int

In [ ]:
# Converting from one object type to a different object type

In [8]:
# Convert integer 2 to a float

float (2)

2.0

In [9]:
type (float (2))

float

In [ ]:
# Convert a string into an integer or float

In [10]:
# Convert a stroing to an integer

int('1')

1

In [11]:
# Convert the string 1.2 into a float

float ('1.2')

1.2

In [ ]:
# Converting numbers to strings

In [12]:
# Convert an integer to a string

str(1)

'1'

In [13]:
# Convert a float to a string

str (1.2)

'1.2'

In [ ]:
# Boolean Datatype

In [14]:
type (True)

bool

In [15]:
type (False)

bool

In [16]:
# Convert True to int

int (True)

1

In [17]:
# Convert 1 to boolean

bool (1)

True

In [18]:
# Convert 0 to boolean

bool (0)

False

In [19]:
# Convert True to float

float (True)

1.0

In [ ]:
# EXERCISE: Types

In [20]:
# What is the data type of the result of: 6 / 2?

type (6/2)

float

In [21]:
# What is the type of the result of: 6 // 2?

type (6//2)

int

In [ ]:
# EXPRESSIONS & VARIABLES

In [22]:
# # Addition operation expression

43 + 60 + 16 + 41

160

In [23]:
# Subtraction operation expression

50 - 60

-10

In [24]:
# Multiplication operation expression

5 * 5

25

In [25]:
# Division operation expression

25/5

5.0

In [26]:
# Integer Division Operation Expression

25//5

5

In [ ]:
# Exercise: Expressions

In [27]:
# Let's write an expression that calculates how many hours there are in 160 minutes:

160/60
#Or
160//60

2

In [28]:
# Mathematical expression

30 + 2 * 60

150

In [29]:
# Mathematical expression

(30 + 2) * 60

1920

In [ ]:
# VARIABLES

In [42]:
# Store value into variable

x = 43 + 60 + 16 + 41

In [43]:
print (x)

160

In [44]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
# OR
y = x / 60

In [45]:
print (y)

2.6666666666666665

In [46]:
# Overwrite variable with new value

x = x / 56

In [47]:
print (x)

2.857142857142857

In [48]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [49]:
# Name the variables meaningfully

total_hours = total_min / 60 #Total length of albums in hours
total_hours

2.3666666666666667

In [50]:
# EXERCISE: EXPRESSION & VARIABLES IN PYTHON

In [51]:
# What is the value of x where x = 3 + 2 * 2

x = 3 + 2 * 2
x

7

In [52]:
# What is the value of y where y = (3 + 2) * 2?

y = (3 + 2) * 2
y

10

In [53]:
# What is the value of z where z = x + y?

z = x + y
z

17