In [ ]:
# FUNCTIONS

# Block of Reusable code

In [28]:
# Function Example          # Youtube

def happy_birthday(name):
    print(f'Happy birthday {name}')
    print('You are old')
    print(f'Happy birthday to you')
    
happy_birthday('Ehtesham')

# When you prefix a string with f (or F), Python will interpret expressions within curly braces {} 
# and replace them with their values.

Happy birthday Ehtesham
You are old
Happy birthday to you

In [37]:
def happy_birthday(name,age):
    print(f'Happy birthday {name}')
    print(f'You are {age} years old')
    print(f'Happy birthday to you')
    
happy_birthday('Ehtesham',20)

Happy birthday Ehtesham
You are 20 years old
Happy birthday to you

In [43]:
def happy_birthday(name,age):
    print(f'Happy birthday {name}')
    print(f'You are {age} years old')
    print(f'Happy birthday to you')
    
happy_birthday('Ehtesham',20)
happy_birthday('Shahrukh',21)
happy_birthday('Shahmir',20)
happy_birthday('Hamza',21)

Happy birthday Ehtesham
You are 20 years old
Happy birthday to you
Happy birthday Shahrukh
You are 21 years old
Happy birthday to you
Happy birthday Shahmir
You are 20 years old
Happy birthday to you
Happy birthday Hamza
You are 21 years old
Happy birthday to you

In [49]:
def happy_birthday(name,age):
    print(f'Happy birthday {name}')
    print(f'You are {age} years old')
    print(f'Happy birthday to you')
    print()
    
happy_birthday('Ehtesham',20)
happy_birthday('Shahrukh',21)
happy_birthday('Shahmir',20)
happy_birthday('Hamza',21)

#Because of space in result it looks much better

Happy birthday Ehtesham
You are 20 years old
Happy birthday to you

Happy birthday Shahrukh
You are 21 years old
Happy birthday to you

Happy birthday Shahmir
You are 20 years old
Happy birthday to you

Happy birthday Hamza
You are 21 years old
Happy birthday to you

In [48]:
# return

def add(x,y):
    z=x+y
    return z

def subtract(x,y):
    z=x-y
    return z

def multiply(x,y):
    z=x*y
    return z

def divide(x,y):
    z=x/y
    return z

print(add(1,2))
print(subtract(9,4))
print(multiply(13,8))
print(divide(81,38))

3
5
104
2.1315789473684212

In [60]:
def create_name(first_name, middle_name, last_name):
    first_name = first_name.capitalize()
    middle_name = middle_name.capitalize()
    last_name = last_name.capitalize()
    return first_name + ' ' + middle_name + ' ' + last_name
    
full_name = create_name('Muhammad', 'Ehtasham', 'Saqib')
print(full_name)

Muhammad Ehtasham Saqib

In [ ]:
# FUNCTIONS    # Coursera

In [ ]:
# Built In Functions

In [5]:
album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]
L = len(album_ratings)
print(L)

8

In [7]:
S = sum(album_ratings)
print(S)

70.0

In [10]:
# Sorted Vs Sort

# In sorted a new list is creating in which values are sorted, the original list remains the same
# In sort, the values of the original list are sort. No other list is created

In [14]:
# Sorted

album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]
sorted_album_ratings = sorted(album_ratings)

print(album_ratings)        # Here, original list doesnot change
print(sorted_album_ratings)

[10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]
[7.0, 7.0, 8.5, 9.0, 9.5, 9.5, 9.5, 10.0]

In [15]:
# Sort

album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]
album_ratings.sort()

print(album_ratings)   # Orginal List Change

[7.0, 7.0, 8.5, 9.0, 9.5, 9.5, 9.5, 10.0]

In [16]:
# Making Functions

In [3]:
# Creating Function

def add(a):
    b = a+1
    return b
add(5)

6

In [9]:
# Using previous function

c=add(10)
print('c =', c)

d=add(99)
print('d =', d)

c = 11
d = 100

In [11]:
# Optional
help(add)     #Tells what this function do/ Documentation String

Help on function add in module __main__:

add(a)

In [22]:
# Multiple Parameters
# A function can have multiple parameters

def Mult (a,b):
    c = a*b
    return c

Mult(2,3)

# Using this Function
Mult(53,9)

Mult(9,3.14)

Mult(2, ' Michael Jackson ')     # This is because the multiplication symbol can also mean, repeat a sequence

' Michael Jackson  Michael Jackson '

In [42]:
# Some functions doesnot have a return statement

def MJ():
    print('Michael Jackson')     # So, it will only return the print() one i.e Michael Jackson
    

MJ()

Michael Jackson

In [51]:
# Python doesnot allow a function to have an empty body so we use pass to fulfill the body requirement 

def NoWork():
    pass
print(NoWork())

None