# Pandas: DataFrame and Series

###### Pandas is a popular library for data analysis built on top of the Python programming language. Pandas generally provide two data structures for manipulating data, They are:
1) DataFrame
2) Series

###### A DataFrame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.
A Pandas DataFrame will be created by loading the datasets from existing storage.

Storage can be SQL Database, CSV file, Excel file, etc.

It can also be created from the lists, dictionaries, and from a list of dictionaries.

###### Series represents a one-dimensional array of indexed data. It has two main components :

An array of actual data.

An associated array of indexes or data label

In [20]:
# Import Pandas Library

import pandas as pd     # we can also write import pandas as bananas (Wherever we wrote pd now we will have to write bananas)

In [21]:
# Define a dictionary 'x'

x = {'Name': ['Rose', 'John', 'Jane', 'Mary'], 'ID': [1,2,3,4], 'Department': ['Architect Group', 'Software Group', 'Design Team', 'Infrastructure'], 'Salary': [100000, 80000, 50000, 60000]}
x

# Casting dictionary to a DataFrame

df = pd.DataFrame(x)

# Checking Output
print(df)

   Name  ID       Department  Salary
0  Rose   1  Architect Group  100000
1  John   2   Software Group   80000
2  Jane   3      Design Team   50000
3  Mary   4   Infrastructure   60000

### Column Selection

###### To view the column as a DataFrame, just use two brackets:

In [22]:
#Retrieving the "ID" column and assigning it to a variable a

a = df[['ID']]
a

   ID
0   1
1   2
2   3
3   4

In [23]:
type(a)  

# Output is like this bcz Pandas has 2 datatypes: Dataframe and series unlike python having datatypes (int, str, dict etc)

pandas.core.frame.DataFrame

In [24]:
# Access to multiple columns
#Retrieving the Department, Salary and ID columns and assigning it to a variable b

b = df[['Department', 'ID', 'Salary']]
b

        Department  ID  Salary
0  Architect Group   1  100000
1   Software Group   2   80000
2      Design Team   3   50000
3   Infrastructure   4   60000

###### To view the column as a series, just use one bracket:

In [25]:
b = df['Department']
b

0    Architect Group
1     Software Group
2        Design Team
3     Infrastructure
Name: Department, dtype: object

In [26]:
type(b)

pandas.core.series.Series

## loc() & iloc() Functions

###### loc() 
It is a label-based data selecting method which means that we have to pass the name of the row or column that we want to select. This method includes the last element of the range passed in it.

Simple syntax for your understanding:

loc[row_label, column_label]

###### iloc() 

It is an indexed-based selecting method which means that we have to pass an integer index in the method to select a specific row/column. This method does not include the last element of the range passed in it.

Simple syntax for your understanding:

iloc[row_index, column_index]

In [27]:
# Access the column using the name

df.loc[0, 'Salary']

100000

In [28]:
# Access the value on the first row and the first column

df.iloc[0,0]

'Rose'

In [29]:
# Access the value on the first row and the third column

df.iloc[0,2]

'Architect Group'